@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes logo-green-to-white {
    0% {
        background-image: url('../img/logo-green.svg');
    }
    100% {
        background-image: url('../img/logo-white.svg');
    }
}
@keyframes logo-white-to-green {
    0% {
        background-image: url('../img/logo-white.svg');
    }
    100% {
        background-image: url('../img/logo-green.svg');
    }
}
@keyframes logo-black-to-white {
    0% {
        background-image: url('../img/logo-black.svg');
    }
    100% {
        background-image: url('../img/logo-white.svg');
    }
}
@keyframes logo-white-to-black {
    0% {
        background-image: url('../img/logo-white.svg');
    }
    100% {
        background-image: url('../img/logo-black.svg');
    }
}
@keyframes nav-in {
    0% {
        transform: rotate(-20deg) translateY(110%);
    }
    100% {
        transform: rotate(-20deg) translateY(0%);
    }
}
@keyframes nav-out {
    0% {
        transform: rotate(-20deg) translateY(0%);
    }
    100% {
        transform: rotate(-20deg) translateY(-110%);
    }
}
@keyframes nav-in-mobile {
    0% {
        transform: translateY(110%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes nav-out-mobile {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-110%);
    }
}
@keyframes mb-50 {
    0% {
        margin-bottom: 150px;
    }
    100% {
        margin-bottom: 50px;
    }
}
@keyframes mb-150 {
    0% {
        margin-bottom: 50px;
    }
    100% {
        margin-bottom: 150px;
    }
}
@keyframes mb-30 {
    0% {
        margin-bottom: 100px;
    }
    100% {
        margin-bottom: 30px;
    }
}
@keyframes mb-100 {
    0% {
        margin-bottom: 30px;
    }
    100% {
        margin-bottom: 100px;
    }
}
@keyframes social-icon-in {
    0% {
        bottom: -30px;
        opacity: 0;
        visibility: hidden;
    }
    100% {
        bottom: 0px;
        opacity: 1;
        visibility: visible;
    }
}
@keyframes social-icon-out {
    0% {
        bottom: 0px;
        opacity: 1;
        visibility: visible;
    }
    100% {
        bottom: -30px;
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes imgFrameRotate {
    0% {
        transform: rotate(20deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}
.imgFrameRotate.go {
    animation-name: imgFrameRotate;
}
@keyframes imgFrameRotateNeg {
    0% {
        transform: rotate(-20deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}
.imgFrameRotateNeg.go {
    animation-name: imgFrameRotateNeg;
}
@keyframes imgFrameTranslateRotate {
    0% {
        transform: translateY(-50%) rotate(20deg);
        opacity: 0;
    }
    100% {
        transform: translateY(-50%) rotate(0deg);
        opacity: 1;
    }
}
.imgFrameTranslateRotate.go {
    animation-name: imgFrameTranslateRotate;
}
@keyframes imgRotate {
    0% {
        transform: scale(1.4) rotate(-20deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
.imgRotate.go {
    animation-name: imgRotate;
}
@keyframes imgRotateNeg {
    0% {
        transform: scale(1.4) rotate(20deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
.imgRotateNeg.go {
    animation-name: imgRotateNeg;
}
@keyframes lineHeight {
    0% {
        line-height: 42px;
    }
    100% {
        line-height: 28px;
    }
}
.lineHeight.go {
    animation-name: lineHeight;
}
@keyframes fadeInUpMd {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.fadeInUpMd.go {
    animation-name: fadeInUpMd;
}
@keyframes mb-30-to-10 {
    0% {
        margin-bottom: 30px;
    }
    100% {
        margin-bottom: 10px;
    }
}
.mb-30-to-10.go {
    animation-name: mb-30-to-10;
}
@keyframes mb-50-to-5 {
    0% {
        margin-bottom: 50px;
    }
    100% {
        margin-bottom: 5px;
    }
}
@keyframes circle-btn-line-1 {
    0% {
        width: 0vw;
    }
    100% {
        width: 16vw;
    }
}
@keyframes circle-btn-line-2 {
    0% {
        transform: translateY(-50%) scaleX(0);
    }
    100% {
        transform: translateY(-50%) scaleX(1);
    }
}
@keyframes circle-btn-line-3 {
    0% {
        transform: translateX(-50%) scaleY(0);
    }
    100% {
        transform: translateX(-50%) scaleY(1);
    }
}
@keyframes shrinkIn {
    0% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
.shrinkIn.go {
    animation-name: shrinkIn;
}
@keyframes homeNewsText {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.homeNewsText.go {
    animation-name: homeNewsText;
}
@keyframes homeNewsImg {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.homeNewsImg.go {
    animation-name: homeNewsImg;
}
@keyframes footerEmail {
    0% { 
        width: 0%;
    }
    100% {
        width: calc(100% - 78px);
    }
}
@keyframes greenCallout {
    0% {
        padding: 0px;
    }
    100% {
        transform: scaleY(1);
    }
}
.greenCallout.go {
    animation-name: greenCallout;
}
@keyframes growRight {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
.growRight.go {
    animation-name: growRight;
}
@keyframes workFrame {
    0% {
        transform: rotate(5deg);
        opacity: 0;
    }
    100% {
        transform: rotate(0deg);
        opacity: 1;
    }
}
.workFrame.go {
    animation-name: workFrame;
}
@keyframes workImg {
    0% {
        transform: scale(1.4) rotate(2deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
.workImg.go {
    animation-name: workImg;
}
@keyframes trendsSlider {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes client-frame-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes client-img-in {
    0% {
        transform: translateX(-100%) scale(1.4);
    }
    100% {
        transform: translateX(0%) scale(1);
    }
}
@keyframes client-frame-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes client-img-out {
    0% {
        transform: translateX(0%) scale(1);
    }
    100% {
        transform: translateX(-100%) scale(1);
    }
}