// ----------------------  SITE COLORS  ----------------------

$green:         #54DE75;
$black:         #000000;
$white:         #ffffff;


// ----------------------  TYPEFACES  ----------------------

// google fonts or typekit import
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Spartan:wght@400;600;700;900&display=swap');


$spartan:         'Spartan', sans-serif;
$pt-sans:         'PT Sans Caption', sans-serif;


// ----------------------  BREAKPOINTS  ----------------------

$x-large:   1200px;
$large:     991px;
$medium:    767px;
$small:     575px;

$xl: $x-large;
$lg: $large;
$md: $medium;
$sm: $small;