.about {
    .hero {
        padding: 100px 0px 120px;
        position: relative;

        @media screen and (max-width: $md) {
            padding: 50px 0px 100px;
        }
        @media screen and (max-width: $sm) {
            padding: 30px 0px 70px;
        }
        &__preheading {
            font-size: 14px;
            line-height: 32px;
            font-weight: bold;
            text-transform: uppercase;
            color: $green;
            display: block;
            margin-bottom: 10px;
        }
        &__heading {
            font-size: 64px;
            line-height: 72px;
            margin-bottom: 30px;
            max-width: 530px;

            @media screen and (max-width: $md) {
                font-size: 40px;
                line-height: 50px;
            }
            @media screen and (max-width: $sm) {
                font-size: 34px;
                line-height: 46px;
                margin-bottom: 20px;
            }
        }
        &__text {
            max-width: 650px;
            width: 100%;

            p {
                line-height: 42px;

                a {
                    color: $black;

                    &:after {
                        background-color: $black;
                    }
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        &__btn {
            margin-top: 10px;
            
            @media screen and (max-width: $md) {
                margin-top: 30px;
            }
            @media screen and (max-width: $sm) {
                margin-top: 20px;
            }
            .col-12 {
                display: flex;
                justify-content: flex-end;

                @media screen and (max-width: $sm) {
                    justify-content: left;
                }
            }
            &__container {
                display: inline-block;
                margin-right: 170px;
    
                @media screen and (max-width: $sm) {
                    margin-right: 0px;
                    margin-left: calc(5% + 12px);
                }
                &.growIn.go {
                    .circle-btn {
                        &:before {
                            animation: circle-btn-line-2 .5s ease;
                            animation-fill-mode: forwards;
                            animation-delay: 2s;
                        }
                    }
                }
            }
            .circle-btn {
                position: relative;
                
                &:before {
                    content: '';
                    display: block;
                    width: 140px;
                    height: 1px;
                    background-color: $black;
                    position: absolute;
                    top: 50%;
                    right: -170px;
                    transform: translateY(-50%) scaleX(0);
                    transform-origin: right;
    
                    @media screen and (max-width: $sm) {
                        display: none;
                    }
                }
            }
        }
        &__links {
            margin-top: 45px;
            display: none;

            @media screen and (max-width: $sm) {
                display: block;
            }
            .container {
                display: flex;
                justify-content: space-between;
            }
            a {
                font-size: 20px;
                font-weight: bold;
                color: $black;
                text-transform: lowercase;
                display: none;
    
                @media screen and (max-width: $sm) {
                    display: inline-block;
                }
                &:after {
                    background-color: $black;
                    bottom: 2px;
                }
                &:hover {
                    color: $green;
    
                    &:after {
                        bottom: -3px;
                    }
                }
            }
        }
        &__img {
            position: relative;

            &:after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba($black, .4);
                position: absolute;
                top: 0px;
                left: 0px;
            }
            img {
                width: 100%;
            }
        }
    }
    .about-video {
        position: relative;
        overflow: hidden;
        opacity: 0;

        &__poster {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 1;
            cursor: pointer;

            &__play {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
                background-image: url('../img/play-black.svg');
                background-size: cover;
                background-repeat: no-repeat;
                transition: .4s ease;

                @media screen and (max-width: $md) {
                    width: 100px;
                    height: 100px;
                }
                @media screen and (max-width: $sm) {
                    width: 80px;
                    height: 80px;
                }
                &:hover {
                    transform: translate(-50%, -50%) scale(1.3);
                    background-color: rgba($white, .2);
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .cultivating {
        background-color: $green;
        padding: 150px 0px 160px;
        position: relative;

        @media screen and (max-width: $xl) {
            padding: 150px 0px;
        }
        @media screen and (max-width: $md) {
            padding: 80px 0px calc(80px - 1rem);
        }
        .container {
            max-width: 990px;
        }
        .row {
            margin-left: -80px;
            margin-right: -80px;

            @media screen and (max-width: $xl) {
                margin-left: -40px;
                margin-right: -40px;
            }
            @media screen and (max-width: $lg) {
                margin-left: -20px;
                margin-right: -20px;
            }
        }
        .col-md-6 {
            padding-left: 80px;
            padding-right: 80px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;

            @media screen and (max-width: $xl) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media screen and (max-width: $lg) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &__img {
            width: 100%;
            overflow: hidden;
            opacity: 0;
            position: relative;
            
            @media screen and (max-width: $md) {
                margin-bottom: 40px;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba($black, .01);
            }
            img {
                width: 100%;
            }
        }
        &__text {
            h2 {
                margin-bottom: 40px;

                @media screen and (max-width: $md) {
                    font-size: 40px;
                    line-height: 50px;
                    max-width: 300px;
                    margin-bottom: 20px;
                }
            }
            p {
                line-height: 42px;
            }
        }
    }
    .driven {
        padding: 0px 0px 110px;
        margin-top: -60px;
        position: relative;

        @media screen and (max-width: $xl) {
            padding: 110px 0px 50px;
            margin-top: 0px;
        }
        @media screen and (max-width: $md) {
            padding: 80px 0px calc(80px - 1rem);
        }
        .container {
            max-width: 1250px;
        }
        .row {
            margin-left: -50px;
            margin-right: -50px;

            @media screen and (max-width: $xl) {
                margin-left: -40px;
                margin-right: -40px;
            }
            @media screen and (max-width: $lg) {
                margin-left: -20px;
                margin-right: -20px;
            }
            @media screen and (max-width: $md) {
                flex-direction: column-reverse;
            }
        }
        .col-lg-5, .col-lg-7 {
            padding-left: 50px;
            padding-right: 50px;
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $xl) {
                padding-left: 40px;
                padding-right: 40px;
            }
            @media screen and (max-width: $lg) {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &__img {
            width: 100%;
            overflow: hidden;
            opacity: 0;
            position: relative;

            @media screen and (max-width: $xl) {
                align-self: center;
            }
            @media screen and (max-width: $md) {
                margin-bottom: 40px;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: rgba($black, .01);
            }
            img {
                width: 100%;
            }
        }
        &__text {
            text-align: right;
            padding-top: 150px;
            padding-bottom: 80px;
            align-self: flex-end;

            @media screen and (max-width: $xl) {
                padding: 0px;
                align-self: center;
            }
            h2 {
                margin-bottom: 40px;

                @media screen and (max-width: $md) {
                    font-size: 40px;
                    line-height: 50px;
                    max-width: 300px;
                    margin-bottom: 20px;
                    margin-left: auto;
                }
            }
            &__copy {
                margin-bottom: 40px;

                @media screen and (max-width: $md) {
                    margin-bottom: 30px;
                }
                p {
                    line-height: 42px;
                }
            }
            &__link {
                font-size: 20px;
                font-weight: bold;
                text-transform: lowercase;
                display: inline-block;
            }
        }
    }
    .about-results {
        padding: 110px 0px 60px;

        @media screen and (max-width: $md) {
            padding: 20px 0px 0px;
        }
        .about-result {
            margin-bottom: 100px;

            @media screen and (max-width: $lg) {
                margin-bottom: 70px;
            }
            @media screen and (max-width: $md) {
                margin-bottom: 100px;
            }
            .row {
                margin-left: -25px;
                margin-right: -25px;
            }
            .col-lg-6 {
                padding-left: 25px;
                padding-right: 25px;
            }
            &__logo {
                position: relative;
                padding-top: 40px;

                @media screen and (max-width: $md) {
                    padding-top: 50px;
                }
                .line {
                    width: 100%;
                    height: 1px;
                    background-color: $black;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    transform: scaleX(0);
                    transform-origin: left;
                }
                img {
                    max-width: 100%;
                }
            }
            &__text {
                position: relative;
                padding-top: 40px;

                @media screen and (max-width: $md) {
                    border-top: none;
                    padding-top: 30px;
                }
                .line {
                    width: 100%;
                    height: 1px;
                    background-color: $black;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    transform: scaleX(0);
                    transform-origin: left;

                    @media screen and (max-width: $md) {
                        display: none;
                    }
                }
                &__capabilities {
                    margin-bottom: 100px;

                    @media screen and (max-width: $lg) {
                        margin-bottom: 50px;
                    }
                    @media screen and (max-width: $md) {
                        margin-bottom: 30px;
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
                        line-height: 12px;
    
                        li {
                            display: inline-block;
                            list-style-type: none;
                            font-size: 12px;
                            line-height: 22px;
                            font-weight: bold;
                            letter-spacing: .05em;
                            text-transform: uppercase;
                            color: $green;
                            margin-right: 4px;
    
                            &:last-of-type {
                                margin-right: 0px;
                                
                                &:after {
                                    display: none;
                                }
                            }
                            &:after {
                                content: '•';
                                position: relative;
                                right: 0px;
                                font-size: 12px;
                                line-height: 22px;
                                font-weight: bold;
                                color: $green;
                                margin-left: 8px;
                            }
                        }
                    }
                }
                &__heading {
                    &.--lg {
                        font-size: 70px;
                        line-height: 90px;

                        @media screen and (max-width: 1300px) {
                            font-size: 5.385vw;
                            line-height: 6.923vw;
                        }
                        @media screen and (max-width: $lg) {
                            font-size: 30px;
                            line-height: 42px;
                        }
                    }
                    &.--md {
                        font-size: 47px;
                        line-height: 62px;

                        @media screen and (max-width: 1300px) {
                            font-size: 3.615vw;
                            line-height: 4.769vw;
                        }
                        @media screen and (max-width: $lg) {
                            font-size: 30px;
                            line-height: 42px;
                        }
                    }
                    &.--sm {
                        font-size: 30px;
                        line-height: 40px;

                        @media screen and (max-width: 1300px) {
                            font-size: 2.308vw;
                            line-height: 3.077vw;
                        }
                        @media screen and (max-width: $lg) {
                            font-size: 30px;
                            line-height: 42px;
                        }
                    }
                }
                &__percentage {
                    margin-top: 70px;
                    margin-bottom: -45px;
                    display: flex;
                    align-items: flex-end;

                    @media screen and (max-width: 1300px) {
                        margin-top: 5.385vw;
                        margin-bottom: -3.462vw;
                    }
                    @media screen and (max-width: $md) {
                        margin-top: 40px;
                        margin-bottom: -10px;
                    }
                    &__num {
                        font-family: $spartan;
                        font-size: 220px;
                        line-height: 1;
                        font-weight: 900;
                        display: block;
                        margin-right: 30px;

                        @media screen and (max-width: 1300px) {
                            font-size: 16.923vw;
                            margin-right: 2.308vw;
                        }
                        @media screen and (max-width: $md) {
                            font-size: 90px;
                            margin-right: 15px;
                        }
                    }
                    &__sign {
                        font-family: $spartan;
                        font-size: 100px;
                        line-height: 1.45;
                        font-weight: 900;
                        display: block;

                        @media screen and (max-width: 1300px) {
                            font-size: 7.692vw;
                        }
                        @media screen and (max-width: $md) {
                            font-size: 50px;
                            line-height: 1.3;
                        }
                    }
                }
            }
        }
    }
    .lets-go {
        background-color: $green;
        padding: 130px 0px;
        position: relative;
        transform: scaleY(0);

        @media screen and (max-width: $md) {
            padding: 80px 0px;
        }
        h2 {
            font-size: 80px;
            line-height: 96px;
            max-width: 600px;

            @media screen and (max-width: $xl) {
                font-size: 6.667vw;
                line-height: 8vw;
                max-width: 50vw;
            }
            @media screen and (max-width: $md) {
                font-size: 50px;
                line-height: 60px;
                max-width: 400px;
                margin-bottom: 30px;
            }
            @media screen and (max-width: $sm) {
                font-size: 40px;
                line-height: 50px;
                max-width: 300px;
                margin-bottom: 20px;
            }
        }
        &__btn {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            margin-right: 210px;
    
            @media screen and (max-width: $lg) {
                margin-right: 150px;
            }
            @media screen and (max-width: $md) {
                position: relative;
                top: auto;
                right: auto;
                left: calc(5% + 12px);
                transform: none;
                margin-right: 0px;
            }
            &__container {
                display: inline-block;

                &.growIn.go {
                    .circle-btn {
                        &:before {
                            animation: circle-btn-line-2 .5s ease;
                            animation-fill-mode: forwards;
                            animation-delay: 2s;
                        }
                    }
                }
            }
        }
        .circle-btn {
            &:before {
                content: '';
                display: block;
                width: 180px;
                height: 1px;
                background-color: $black;
                position: absolute;
                top: 50%;
                right: -210px;
                transform: translateY(-50%) scaleX(0);
                transform-origin: right;

                @media screen and (max-width: $lg) {
                    width: 120px;
                    right: -150px;
                }
                @media screen and (max-width: $md) {
                    display: none;
                }
            }
        }
    }
    .our-partners {
        background-color: $white;
        color: $black;
        padding: 130px 0px 95px;

        @media screen and (max-width: $md) {
            padding: 70px 0px;
        }
        h2 {
            font-size: 64px;
            line-height: 68px;
            color: $green;
            text-align: center;

            @media screen and (max-width: $xl) {
                text-align: left;
            }
            @media screen and (max-width: $md) {
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 18px;
            max-width: 430px;
            margin: 0px auto;

            @media screen and (max-width: $md) {
                margin: 0px;
                font-size: 16px;
                max-width: 400px;
            }
            @media screen and (max-width: $sm) {
                font-size: 14px;
                max-width: none;
            }
        }
        &__slider {
            margin: 70px 0px;
            min-height: 80px;

            @media screen and (max-width: $md) {
                margin: 50px 0px 70px;
            }
            @media screen and (max-width: $sm) {
                margin: 40px 0px 70px;
            }
            .slick-list, .slick-track {
                min-height: 80px;
            }
            .slide {
                min-height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 20px;

                &.slick-active {
                    img {
                        transform: scale(1);
                    }
                }
                img {
                    max-width: 100%;
                    transform: scale(0);
                    transition: .3s ease-in-out;
                }
            }
            .slick-dots {
                height: 10px;
                bottom: -70px;

                li {
                    margin: 0px 2px;
                    top: -14px;

                    &.slick-active {
                        button {
                            &:before {
                                color: $black;
                            }
                        }
                    }
                    button {
                        &:before {
                            font-size: 12px;
                            color: #EFEFEF;
                            opacity: 1;
                            transition: .2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}