html{
    header {
        padding: 70px 0px 50px;
        position: relative;
        z-index: 999;

        @media screen and (max-width: $sm) {
            padding: 40px 0px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .logo {
            background-size: cover;
            background-repeat: no-repeat;
            width: 101px;
            height: 30px;
            display: block;

            &:after {
                display: none;
            }
        }
        .navigation {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            nav {
                opacity: 0;
                visibility: hidden;
                animation: fade-in .5s ease;
                animation-delay: 1s;
                animation-fill-mode: forwards;

                @media screen and (max-width: $sm) {
                    display: none;
                }
                ul {
                    margin: 0px;
                    padding: 0px;

                    li {
                        list-style-type: none;
                        display: inline-block;
                        margin-right: 60px;

                        @media screen and (max-width: $md) {
                            margin-right: 40px;
                        }
                        a {
                            font-size: 20px;
                            font-weight: bold;
                            text-transform: lowercase;

                            &:hover {
                                color: $green !important;
                            }
                        }
                    }
                }
            }
            .nav-toggle {
                background-color: transparent;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                position: relative;
                transition: 1.5s ease;

                &.open {
                    border: 1px solid $white !important;
                    transition: 2s ease;

                    .menu {
                        .bar {
                            background-color: $white;

                            &:nth-of-type(1) {
                                top: 30px;
                                transform: rotate(45deg);
                                transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, background-color .3s ease-out .3s;
                            }
                            &:nth-of-type(2) {
                                opacity: 0;
                            }
                            &:nth-of-type(3) {
                                top: 30px;
                                transform: rotate(-45deg);
                                transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, background-color .3s ease-out .3s;
                            }
                        }
                    }
                }
                .menu {
                    width: 68px;
                    height: 78px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(.35);
                    margin: auto;
                    border-radius: 100%;
                    transition: 0.3s;
                    cursor: pointer;
                }
                .bar {
                    height: 3px;
                    width: 70px;
                    display: block;
                    margin: 10px auto;
                    position: absolute;
                    border-radius: 10px;
                    transition: 0.4s;

                    &:nth-of-type(1) {
                        top: 15px;
                        transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, background-color .3s ease-out .3s;
                        animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
                    }
                    &:nth-of-type(2) {
                        top: 30px;
                        transition: ease 0.3s 0.3s;
                        animation: fade 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
                    }
                    &:nth-of-type(3) {
                        top: 45px;
                        transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, background-color .3s ease-out .3s;
                        animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
                    }
                }
            }
        }
    }
    .dark-theme .editor-styles-wrapper, .dark-theme {
        header {
            .logo {
                background-image: url('../img/logo-white.svg');
                animation: logo-white-to-green .5s ease;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
            .navigation {
                nav {
                    ul {
                        li {
                            a {
                                color: $white;

                                &:after {
                                    background-color: $white;
                                }
                            }
                        }
                    }
                }
                .nav-toggle {
                    border: 1px solid $green;

                    .bar {
                        background-color: $green;
                    }
                }
            }
        }
    }
    .light-theme {
        header {
            .logo {
                background-image: url('../img/logo-white.svg');
                animation: logo-white-to-black .5s ease;
                animation-delay: 1s;
                animation-fill-mode: forwards;
            }
            .navigation {
                nav {
                    ul {
                        li {
                            a {
                                color: $black;

                                &:after {
                                    background-color: $black;
                                }
                            }
                        }
                    }
                }
                .nav-toggle {
                    border: 1px solid $black;

                    .bar {
                        background-color: $black;
                    }
                }
            }
        }
    }
    .nav-menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: $black;
        z-index: 998;
        animation: fade-out .5s ease;
        animation-delay: 1s;
        animation-fill-mode: forwards;

        button {  // hide wp built in buttons
            display: none;
        }

        &__nav {
            animation: nav-out 1s ease;
            animation-fill-mode: forwards;

            @media screen and (max-width: $md) {
                animation: nav-out-mobile 1s ease;
                animation-fill-mode: forwards !important;
            }
            .container {
                max-height: 90vh;
                overflow: auto;
                position: relative;
                scrollbar-width: none;
    
                @media screen and (max-width: $md) {
                    max-height: 580px;
                }
                @media screen and (max-height: 600px) {
                    max-height: 100vh;
                }
                &::-webkit-scrollbar {
                    width: 0 !important;
                }
                &:before {
                    pointer-events: none;
                    content: '';
                    width: 100%;
                    height: 175px;
                    position: fixed;
                    top: -10px;
                    left: 0px;
                    background-image: linear-gradient($black, rgba($black, 0));
                    z-index: 1;

                    @media screen and (max-width: $md) {
                        height: 180px;
                        background-image: linear-gradient($black 140px, rgba($black, 0));
                    }
                }
                &:after {
                    pointer-events: none;
                    content: '';
                    width: 100%;
                    height: 30vh;
                    position: fixed;
                    bottom: 0px;
                    left: 0px;
                    background-image: linear-gradient(rgba($black, 0), rgba($black, .4) 10%, $black);

                    @media screen and (max-width: $md) {
                        bottom: auto;
                        top: 430px;
                        height: 150px;
                    }
                    @media screen and (max-height: 600px) {
                        display: none;
                    }
                }
                nav {
                    text-align: center;
                    padding: 165px 0px 40vh;

                    @media screen and (max-width: $md) {
                        text-align: left;
                        padding: 180px 0px 20vh;
                    }
                    ul {
                        margin: 0px;
                        padding: 0px;
        
                        li {
                            list-style-type: none;
                            margin-bottom: 50px;
                            animation: mb-150 1s ease;
                            animation-fill-mode: forwards;
                            
                            @media screen and (max-width: $md) {
                                margin-bottom: 30px;
                                animation: mb-100 1s ease;
                                animation-fill-mode: forwards;
                            }
                            a {
                                font-family: $spartan;
                                font-size: 80px;
                                font-weight: 600;
                                line-height: 1;
                                color: $white;
                                transition: .3s ease-in-out;

                                @media screen and (max-width: $md) {
                                    font-size: 30px;
                                }
                                &:hover {
                                    color: $green;
        
                                    &:after {
                                        opacity: 1;
                                        transform: scaleX(1);
                                        transform-origin: left;
                                    }
                                }
                                &:after {
                                    height: 4px;
                                    bottom: auto;
                                    top: 50%;
                                    transform: scaleX(0);
                                    transform-origin: right;
                                    transition: transform .3s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__social {
            position: absolute;
            bottom: 70px;
            right: calc(5% + 12px);

            @media screen and (max-width: $sm) {
                bottom: 40px;
            }
            ul {
                margin: 0px;
                padding: 0px;
                
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 12px;
                    position: relative;
                    animation: social-icon-out .5s ease-in-out;
                    animation-fill-mode: forwards;

                    &:nth-of-type(3) {
                        animation-delay: .25s;
                    }
                    &:nth-of-type(2) {
                        animation-delay: .5s;
                    }
                    &:nth-of-type(1) {
                        animation-delay: .75s;
                    }
                    &:last-of-type {
                        margin-right: 0px;
                    }
                    a {
                        font-size: 22px;
                        color: $white;

                        @media screen and (max-width: $sm) {
                            font-size: 19px;
                        }
                        &:after {
                            display: none;
                        }
                        &:hover {
                            color: $green;
                        }
                    }
                }
            }
        }
        .wp-block-navigation .wp-block-navigation-item {
            display: block;
        }
        .wp-block-navigation .wp-block-navigation-item__content {
            display: inline;
        }
    }
    body {
        &.nav-not-opened {
            &.dark-theme, &.dark-theme .editor-styles-wrapper {
                .logo {
                    background-image: url('../img/logo-green.svg') !important;
                }
            }
            &.light-theme {
                .logo {
                    background-image: url('../img/logo-black.svg') !important;
                }
                &.news-detail {
                    .logo {
                        @media screen and (max-width: $sm) {
                            background-image: url('../img/logo-green.svg') !important;
                        }
                    }
                }
            }
            .navigation {
                nav {
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }
            .nav-menu {
                opacity: 0 !important;
                visibility: hidden !important;

                &__nav {
                    transform: rotate(-20deg) translateY(110%) !important;                    
                }
            }
        }
        &.nav-open {
            overflow-y: hidden;
            padding-right: 15px;

            @media screen and (max-width: $sm) {
                padding-right: 0px;
            }
            &.dark-theme {
                .logo {
                    animation: logo-green-to-white .5s ease;
                    animation-fill-mode: forwards;
                }
            }
            &.light-theme {
                .logo {
                    animation: logo-black-to-white .5s ease;
                    animation-fill-mode: forwards;
                }
                &.news-detail {
                    .logo {
                        @media screen and (max-width: $sm) {
                            animation: logo-green-to-white .5s ease;
                            animation-fill-mode: forwards;
                        }
                    }
                }
            }
            .navigation {
                nav {
                    animation: fade-out .5s ease;
                    animation-fill-mode: forwards;
                }
            }
            .nav-menu {
                animation: fade-in .5s ease;
                animation-fill-mode: forwards;

                &__nav {
                    transform: rotate(-20deg) translateY(110%);
                    animation: nav-in 1s ease;
                    animation-delay: .5s;
                    animation-fill-mode: forwards;

                    @media screen and (max-width: $md) {
                        transform: rotate(0deg) translateY(90vh);
                        animation-delay: .5s !important;
                        animation: nav-in-mobile 1s ease;
                    }
                    ul {
                        display: block; // override WP block theme
                        li {
                            margin-bottom: 150px;
                            animation: mb-50 1s ease;
                            animation-delay: .5s;
                            animation-fill-mode: forwards;

                            @media screen and (max-width: $md) {
                                margin-bottom: 100px;
                                animation: mb-30 1s ease;
                                animation-delay: .5s !important;
                                animation-fill-mode: forwards;
                            }

                            a {
                                width: 100%;
                            }
                        }
                    }
                }
                &__social {
                    ul {
                        li {
                            bottom: -30px;
                            opacity: 0;
                            visibility: hidden;
                            animation: social-icon-in .5s ease-in-out;
                            animation-fill-mode: forwards;

                            &:nth-of-type(1) {
                                animation-delay: .5s;
                            }
                            &:nth-of-type(2) {
                                animation-delay: .75s;
                            }
                            &:nth-of-type(3) {
                                animation-delay: 1s;
                            }
                            &:nth-of-type(4) {
                                animation-delay: 1.25s;
                            }
                        }
                    }
                }
            }
        }
    }
}