.news {
    .hero {
        padding: 100px 0px 200px;

        @media screen and (max-width: $lg) {
            padding: 100px 0px 150px;
        }
        @media screen and (max-width: $md) {
            padding: 50px 0px 100px;
        }
        @media screen and (max-width: $sm) {
            padding: 30px 0px 70px;
        }
        &__preheading {
            font-size: 14px;
            line-height: 32px;
            font-weight: bold;
            text-transform: uppercase;
            color: $green;
            display: block;
            margin-bottom: 10px;

            @media screen and (max-width: $md) {
                margin-bottom: 10px;
            }
        }
        &__heading {
            line-height: 80px;
            max-width: 750px;
            margin-bottom: 30px;

            @media screen and (max-width: $md) {
                line-height: 50px;
            }
        }
        &__text {
            max-width: 540px;
            width: 100%;

            p {
                line-height: 42px;

                a {
                    color: $white;

                    &:after {
                        background-color: $white;
                    }
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        &__work {
            font-size: 20px;
            font-weight: bold;
            color: $white;
            text-transform: lowercase;
            margin-top: 30px;
            display: none;

            @media screen and (max-width: $sm) {
                display: inline-block;
            }
            &:after {
                background-color: $white;
                bottom: 2px;
            }
            &:hover {
                color: $green;

                &:after {
                    bottom: -3px;
                }
            }
        }
    }
    .news-articles {
        .row {
            margin-left: -45px;
            margin-right: -45px;

            @media screen and (max-width: $lg) {
                margin-left: -20px;
                margin-right: -20px;
            }
            .col-md-6 {
                padding-left: 45px;
                padding-right: 45px;

                @media screen and (max-width: $lg) {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
        article {
            margin-bottom: 100px;

            @media screen and (max-width: $sm) {
                margin-bottom: 80px;
            }
            &:nth-of-type(even) {
                .news-article__img {
                    &.imgFrameRotate.go {
                        animation-delay: .5s;

                        @media screen and (max-width: $md) {
                            animation-delay: .25s;
                        }
                    }
                    .imgRotate.go {
                        animation-delay: .5s;

                        @media screen and (max-width: $md) {
                            animation-delay: .25s;
                        }
                    }
                }
                .news-article__text__date.fadeInUpShort.go {
                    animation-delay: .75s;

                    @media screen and (max-width: $md) {
                        animation-delay: .5s;
                    }
                }
                .news-article__text__title.fadeInUpShort.go {
                    animation-delay: 1s;

                    @media screen and (max-width: $md) {
                        animation-delay: .75s;
                    }
                }
                .news-article__text__excerpt.fadeInUpShort.go {
                    animation-delay: 1.25s;

                    @media screen and (max-width: $md) {
                        animation-delay: 1s;
                    }
                    p {
                        &.lineHeight.go {
                            animation-delay: 1.25s;
    
                            @media screen and (max-width: $md) {
                                animation-delay: 1s;
                            }
                        }
                    }
                }
                .news-article__text__link.fadeInUpShort.go {
                    animation-delay: 1.5s;

                    @media screen and (max-width: $md) {
                        animation-delay: 1.25s;
                    }
                }
            }
            &:nth-child(n+5) {
                display: none;
            }
        }
        .news-article {
            &__img-link {
                display: block;
                
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
                &:after {
                    display: none;
                }
            }
            &__img {
                margin-bottom: 30px;
                overflow: hidden;
                opacity: 0;

                @media screen and (max-width: $sm) {
                    margin-bottom: 25px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($black, .01);
                }
                img {
                    width: 100%;
                    transition: .5s ease;
                }
            }
            &__text {
                &__date {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: bold;
                    letter-spacing: .12em;
                    text-transform: uppercase;
                    color: $green;
                    display: block;
                    margin-bottom: 15px;
                }
                &__title {
                    font-size: 25px;
                    line-height: 36px;
                    margin-bottom: 10px;

                    a {
                        color: $white;

                        &:hover {
                            color: $green;
                        }
                        &:after {
                            display: none;
                        }
                    }
                }
                &__excerpt {
                    margin-bottom: 25px;

                    @media screen and (max-width: $sm) {
                        margin-bottom: 15px;
                    }
                }
                &__link {
                    font-size: 13px;
                    line-height: 18px;
                    font-weight: bold;
                    color: $white;
                    display: inline-block;

                    &:hover {
                        color: $green;
                    }
                    &:after {
                        background-color: $white;
                    }
                }
            }
        }
        .more-results {
            padding-bottom: 160px;

            @media screen and (max-width: $sm) {
                padding-bottom: 120px;
            }
            &__btn {
                &.growIn.go {
                    .circle-btn {
                        &:before {
                            animation: circle-btn-line-3 1s ease;
                            animation-fill-mode: forwards;
                            animation-delay: 1s;
                        }
                    }
                }
            }
            .circle-btn {
                margin: 0px auto;
                position: relative;

                &:before {
                    content: '';
                    width: 1px;
                    height: 120px;
                    background-color: $white;
                    position: absolute;
                    bottom: -160px;
                    left: 50%;
                    transform: translateX(-50%) scaleY(0);
                    transform-origin: bottom;

                    @media screen and (max-width: $sm) {
                        height: 90px;
                        bottom: -120px;
                    }
                }
            }
        }
    }
    .contact-quench {
        background-color: $green;
        padding: 120px 0px;
        transform: scaleY(0);
        position: relative;
        z-index: 1;
        
        @media screen and (max-width: $md) {
            padding: 90px 0px;
        }
        @media screen and (max-width: $sm) {
            padding: 70px 0px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            max-width: 570px;
            align-items: center;
        }
        &__text {
            width: calc(100% - 120px);
            padding-right: 30px;
            color: $black;

            @media screen and (max-width: $sm) {
                width: calc(100% - 100px);
            }
            h2 {
                font-size: 36px;
                line-height: 44px;
                margin-bottom: 10px;

                @media screen and (max-width: $sm) {
                    font-size: 30px;
                    line-height: 38px;
                }
            }
            p {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 0px;

                @media screen and (max-width: $sm) {
                    font-size: 16px;
                }
            }
        }
        &__btn {
            width: 120px;

            @media screen and (max-width: $sm) {
                width: 100px;
            }
        }
    }
}