.trends {
    .hero {
        padding-bottom: 100px;
        position: relative;

        @media screen and (max-width: $md) {
            padding-bottom: 70px;
        }
        @media screen and (max-width: $sm) {
            padding-bottom: 0px;
            margin-bottom: 160px;
            margin-top: -125px;
        }
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            padding-top: 50px;
            padding-bottom: 50px;

            @media screen and (max-width: $sm) {
                position: relative;
                top: auto;
                left: auto;
                transform: none;
                padding-top: 125px;
            }
        }
        &__heading {
            font-size: 64px;
            line-height: 78px;
            margin-bottom: 20px;
            max-width: 600px;

            @media screen and (max-width: $md) {
                font-size: 40px;
                line-height: 50px;
            }
            @media screen and (max-width: $sm) {
                font-size: 34px;
                line-height: 46px;
                margin-bottom: 20px;
            }
        }
        &__text {
            max-width: 530px;
            width: 100%;
            margin-bottom: 50px;

            @media screen and (max-width: $sm) {
                margin-bottom: 30px;
            }
            p {
                line-height: 42px;

                a {
                    color: $black;

                    &:after {
                        background-color: $black;
                    }
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        &__btn {
            display: inline-block;

            &.growIn.go {
                .circle-btn {
                    &:before {
                        animation: circle-btn-line-2 1s ease;
                        animation-fill-mode: forwards;
                        animation-delay: 1.5s;
                    }
                }
            }
        }
        .circle-btn {
            position: relative;

            &:before {
                content: '';
                display: block;
                width: calc(((100vw - 1144px) / 2) + 50px);
                height: 1px;
                background-color: $black;
                position: absolute;
                top: 50%;
                right: 170px;
                transform: translateY(-50%) scaleX(0);
                transform-origin: left;

                @media screen and (max-width: 1300px) {
                    width: 130px;
                }
                @media screen and (max-width: $md) {
                    display: none;
                }
            }
        }
        &__work {
            font-size: 20px;
            font-weight: bold;
            color: $black;
            text-transform: lowercase;
            position: absolute;
            bottom: -90px;
            left: 12px;
            display: none;

            @media screen and (max-width: $sm) {
                display: inline-block;
            }
            &:after {
                background-color: $black;
                bottom: 2px;
            }
            &:hover {
                color: $green;

                &:after {
                    bottom: -3px;
                }
            }
        }
        &__img {
            position: relative;
            margin-left: auto;
            width: 55%;
            overflow: hidden;
            opacity: 0;
            
            @media screen and (max-width: 1620px) {
                height: 600px;
            }
            @media screen and (max-width: $md) {
                width: 65%;
            }
            @media screen and (max-width: $sm) {
                width: calc(100% - 90px);
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .trends-slider {
        position: relative;

        @media screen and (max-width: $lg) {
            margin-bottom: 100px;
        }
        @media screen and (max-width: $sm) {
            margin-bottom: 80px;
        }
        &:after {
            content: '';
            display: block;
            width: 65%;
            height: 100%;
            background-color: $black;
            position: absolute;
            top: 0px;
            left: 0px;

            @media screen and (max-width: $lg) {
                width: 100%;
                height: calc(100% - 200px);
            }
            @media screen and (max-width: $sm) {
                height: calc(100% - 125px);
            }
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        &__slider {
            position: unset;
            z-index: 1;
            padding: 250px 0px;
            max-width: 520px;
            margin-bottom: 0px;

            @media screen and (max-width: $xl) {
                padding: 150px 0px;
            }
            @media screen and (max-width: $lg) {
                padding: 100px 0px 0px;
                max-width: 100%;
            }
            @media screen and (max-width: $md) {
                padding: 80px 0px 0px;
            }
            @media screen and (max-width: $sm) {
                padding: 60px 0px 0px;
            }
            &.go {
                .slick-list {
                    animation: trendsSlider .75s ease-in-out;
                    animation-fill-mode: forwards;
                    animation-delay: .25s;
                }
            }
            .slick-list {
                transform: translateY(100px);
                opacity: 0;
            }
            .slick-dots {
                bottom: auto;
                top: 50%;
                right: -40px;
                transform: rotate(90deg);
                width: auto;

                @media screen and (max-width: 1300px) {
                    right: -70px;
                }
                @media screen and (max-width: $lg) {
                    top: auto;
                    bottom: -35px;
                    right: auto;
                    left: 50%;
                    transform: translateX(-50%) rotate(0deg);
                    width: 100%;
                }
                li {
                    margin: 0px 12px;
                    width: 16px;
                    height: 16px;

                    &.slick-active {
                        button {
                            &:before {
                                color: #231F20;
                            }
                        }
                    }
                    button {
                        padding: 0px;
                        width: 16px;
                        height: 16px;

                        &:before {
                            font-size: 16px;
                            color: #EFEFEF;
                            opacity: 1;
                            transition: .2s ease-in-out;
                        }
                    }
                }
            }
            &__heading {
                font-family: $spartan;
                font-size: 45px;
                line-height: 58px;
                font-weight: bold;
                color: $white;
                display: block;
                margin-bottom: 30px;

                @media screen and (max-width: $lg) {
                    font-size: 36px;
                    line-height: 49px;
                    margin-bottom: 25px;
                }
                @media screen and (max-width: $sm) {
                    font-size: 30px;
                    line-height: 43px;
                }
            }
            &__text {
                color: $white;
                margin-bottom: 50px;

                @media screen and (max-width: $sm) {
                    margin-bottom: 30px;
                }
            }
            &__next {
                font-size: 20px;
                font-weight: bold;
            }
        }
        &__img {
            position: relative;
            z-index: 1;
            width: calc(100% - 520px);
            opacity: 0;

            @media screen and (max-width: $lg) {
                width: 100%;
                max-width: 550px;
                margin: 0px auto;
            }
            @media screen and (max-width: $sm) {
                max-width: 350px;
            }
            img {
                width: 110%;
                pointer-events: none;

                @media screen and (max-width: $lg) {
                    width: 100%;
                }
            }
        }
    }
    .past-trends {
        padding: 110px 0px;
        background-color: $green;
        transform: scaleY(0);

        @media screen and (max-width: $lg) {
            padding: 80px 0px;
        }
        @media screen and (max-width: $sm) {
            padding: 50px 0px;
        }
        h2 {
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            margin-bottom: 15px;

            @media screen and (max-width: $sm) {
                font-size: 30px;
                line-height: 38px;
            }
        }
        &__buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 850px;
            margin: 0px auto;

            &__button {
                padding: 20px 20px 0px;

                @media screen and (max-width: $sm) {
                    padding: 10px 10px 0px;
                }
            }
        }
    }
    .request-trends {
        padding-top: 160px;
        background-color: $black;
        color: $white;

        @media screen and (max-width: $lg) {
            padding-top: 120px;
        }
        @media screen and (max-width: $md) {
            padding-top: 100px;
        }
        @media screen and (max-width: $sm) {
            padding-top: 80px;
        }
        .container {
            padding-bottom: 160px;
            position: relative;

            @media screen and (max-width: $lg) {
                padding-bottom: 120px;
            }
            @media screen and (max-width: $md) {
                padding-bottom: 100px;
            }
            @media screen and (max-width: $sm) {
                padding-bottom: 80px;
            }
        }
        &__text {
            margin-bottom: -1rem;
            padding-right: 55px;

            @media screen and (max-width: $lg) {
                padding-right: 12px;
            }
            &__subheading {
                font-size: 14px;
                line-height: 18px;
                font-weight: bold;
                letter-spacing: .12em;
                text-transform: uppercase;
                color: $green;
                display: block;
                margin-bottom: 20px;
            }
            &__heading {
                font-size: 40px;
                line-height: 56px;
                margin-bottom: 25px;

                @media screen and (max-width: $sm) {
                    font-size: 34px;
                    line-height: 50px;
                }
            }
            &__request {
                font-size: 21px;
                line-height: 29px;
                margin-bottom: 40px;

                @media screen and (max-width: $sm) {
                    font-size: 18px;
                }
            }
        }
        &__form {
            padding-top: 30px;

            @media screen and (max-width: $md) {
                padding-top: 60px;
            }
            @media screen and (max-width: $sm) {
                padding-top: 45px;
            }
        }
        .line {
            width: 100%;
            height: 1px;
            background-color: $white;
            position: absolute;
            bottom: 0px;
            left: 0px;
            transform: scaleX(0);
            transform-origin: left;
        }
    }
}